/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.page-container {
    padding: 20px;
}

mat-accordion .mat-expansion-panel-header-title,
mat-accordion .mat-expansion-panel-header-description {
  flex-basis: 0;
}

mat-accordion .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 600px) {
    .show-on-mobile {
        display: none !important;
    }
}

@media screen and (max-width: 599px) {
    .show-on-desktop {
        display: none;
    }

    .show-on-mobile {
        display: block;
    }
}